<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid container">
    <a class="navbar-brand" href="/">Comunidade Postify</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="{{url_for('home')}}">Home</a>
        </li>
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('usuarios')}}">Usuários</a>
        </li>
        {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Outros
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{url_for('contato')}}">Contato</a></li>
            <li><a class="dropdown-item" href="https://picflow.up.railway.app">PicFlow</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{url_for('termos_uso')}}">Direitos de uso</a></li>
          </ul>
        </li>
        
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0 me-auto">
        {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="{{url_for('criar_post')}}">Criar Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="{{url_for('perfil')}}">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="{{url_for('sair')}}">Desconectar</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="{{url_for('login_cadastro')}}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('login_cadastro')}}">Criar Conta</a>
          </li>
        {% endif %}
      </ul>
      
    </div>
  </div>
</nav>